services:
  jekyll:
    build:
      context: ./
    ports:
      - 4000:4000
    volumes:
      - .:/usr/src/app
    stdin_open: true
    tty: true
    command: bash -c "bundle install && bundle exec jekyll serve -H 0.0.0.0 -t"

